name: OKX Sadece Short Botu

on:
  schedule:
    - cron: '*/10 * * * *' # Her 10 dakikada bir saatlik mumları kontrol eder
  workflow_dispatch:      # Elle (Manuel) başlatma butonu

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Kodu Cek
        uses: actions/checkout@v3

      - name: Python Kur
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Kutuphaneleri Yukle
        run: |
          pip install ccxt pandas requests

      - name: Botu Calistir
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          CHAT_ID: ${{ secrets.CHAT_ID }}
        run: python bot.py
